/* Colors based on https://m3.material.io */

html {
    box-sizing: border-box;
    background-color: #141218;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #E6E0E9;
    margin: 0;
}

a {
    text-decoration: none;
}

a.external:after {
    content: " ↗️";
}

nav a, #socials ul li a {
    display: inline-block;
    padding: .5em;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #141218;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav li a {
    display: inline-block;
    border-left: 1px solid #938F99;
    width: 100%;
    text-align: center;
    background-color: #4A4458;
    color: #E8DEF8;
}

nav li:first-child a {
    border-left: 0;
}

header {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url('/images/laughing.jpg');
    background-position: center top;
    background-size: cover;
}

header > h1 {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    text-shadow: 0 0 5px #141218;
}

article {
    padding: 2rem;
    background-color: #211F26;
}

#about, #socials {
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#about {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url('images/cowbells.jpg');
}

#about > p {
    text-align: justify;
    max-width: 800px;
}

#socials {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ), url('images/shaker.jpg');
}

#socials ul {
    list-style: none;
}

#socials ul li {
    padding-bottom: 0.4rem;
}

#socials ul li a {
    background-color: #D0BCFF;
    color: #381E72;
    border: 1px solid #938F99;
    border-radius: .25em;
}

#imprint a {
    text-decoration: underline;
    color: #CCC2DC;
    word-break: break-word;
}

footer {
    background-color: #141218;
    text-align: center;
    padding: 2rem;
}